##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

#parse('hr.vm')
<div class="row footer-buttons">
	<div class="columns small-16 text-right">
		<button id="finalizeOrder" name="Submit Order" class="no-margin-right no-margin-bottom">Submit Order</button>
	</div>
</div>
