##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

#* @vtlvariable name="i18n" type="com.bpsinfo.storefront.tobjects.I18nWriter" *#
#* @vtlvariable name="affiliatePart" type="com.bpsinfo.storefront.tobjects.AffiliatePart" *#
<!-- Table to add the enter affiliate ID -->

<div id="ucAffiliateSectionId" class="row">
	<section class="affiliate estimated-shipping-costs">
		<div class="columns small-16 medium-6 affiliate-id">
			<div class="row collapse">
				<label class="label-move" for="input-affiliate">
					<h2>$i18n.write('checkout.single.enterAffiliateCode', 'Affiliate Code (optional)')</h2>
				</label>

				<div class="small-10 large-16 columns">
					<input type="text" id="input-affiliate" placeholder="Enter it here!" name="affiliateId" value="$i18n.escape($!affiliatePart.affiliateId)" />
				</div>

				<div class="small-6 large-16 columns">
					<button type="submit" name="applyAffiliateId" data-depends="#input-affiliate" class="button postfix inactive" disabled>Apply</button>
				</div>
			</div>
		</div>
	</section>
</div>