##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

<div class="row">
	<div class="columns small-16 medium-8">
		<h2>$i18n.write("checkout.quoteReview.giftMessageHeader","Gift Message")</h2>
		<div class="ucGiftMessageText">
          $!form.giftMessage
        </div>
	</div>
</div>