##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

<!-- title -->

#if( !$title )
	#set( $title = $documentTitle)
#end
<div class="row">
	<div class="columns small-16">
		<h1>$title</h1>
	</div>
</div>
<!-- /title -->