#* @vtlvariable name="formatHelper" type="com.bpsinfo.ultracart.catalog.tobjects.FormatHelper" *#
#* @vtlvariable name="i18n" type="com.bpsinfo.storefront.tobjects.I18nWriter" *#
#* @vtlvariable name="form" type="com.bpsinfo.ultracart.checkout.ui.AccountChangePasswordForm" *#

#set( $bodyClass = 'account-change-password-confirmation' )
#set( $pageTitle = 'Update Password Confirmation' )
#parse('/snippets/top.vm')

#set( $title = $pageTitle )
#parse('/snippets/title.vm')

<div class="row">
	<form action="$form.continueUrl" method="post">
		#parse('/snippets/common/storefront_template_spec_version.vm')
		<div class="columns small-16 medium-8 login">
			<h2>Your password has been updated.</h2>

			#parse('/snippets/common/cs_token.vm')

			<div class="footer-buttons">
				<button type="submit" name="submit" class="button no-margin" title="Continue">Continue</button>
			</div>
		</div>
	</form>
</div>



#parse('/snippets/bottom.vm')