#* @vtlvariable name="formatHelper" type="com.bpsinfo.ultracart.catalog.tobjects.FormatHelper" *#
#* @vtlvariable name="i18n" type="com.bpsinfo.storefront.tobjects.I18nWriter" *#
#* @vtlvariable name="form" type="com.bpsinfo.ultracart.checkout.ui.AccountChangePasswordForm" *#

#set( $bodyClass = 'account-change-password' )
#set( $pageTitle = 'Account Change Password' )
#parse('/snippets/top.vm')

#set( $title = $pageTitle )
#parse('/snippets/title.vm')

#parse('/snippets/errors.vm')
#parse('/snippets/info_messages.vm')

<div class="row">
	<form class="validate" action="/checkout/accountChangePasswordSave.do" method="post">
		#parse('/snippets/common/storefront_template_spec_version.vm')
		<div class="columns small-16 medium-8 login">
			<h2>Update Password</h2>
			<label for="email" class="label-move">
				<span>Email:</span>
				<input type="text" name="email" id="email" value="$i18n.escape($!form.email)" required maxlength="50" />
			</label>

			<label for="memberPassword" class="label-move half-margin-bottom">
				<span>Existing Password:</span>
				<input type="password" name="memberPassword" id="memberPassword" value="$i18n.escape($!form.memberPassword)" class="no-margin-bottom" required maxlength="32" />
				<a href="/checkout/forgotPasswordLoad.do?returnTo=accountChangePassword">I forgot my password</a>
			</label>

			<label for="newPassword" class="label-move half-margin-bottom">
				<span>New Password:</span>
				<input type="password" name="newPassword" id="newPassword" value="$i18n.escape($!form.newPassword)" class="no-margin-bottom" required maxlength="32" />
			</label>

			<label for="newPasswordConfirm" class="label-move half-margin-bottom">
				<span>Confirm New Password:</span>
				<input type="password" name="newPasswordConfirm" id="newPasswordConfirm" value="$i18n.escape($!form.newPasswordConfirm)" class="no-margin-bottom" required maxlength="32" />

			</label>

			#parse('/snippets/common/cs_token.vm')

			<div class="footer-buttons text-right">
				<button type="submit" name="memberSubmit" class="button inactive no-margin" disabled title="Change Password">Change Password</button>
			</div>
		</div>
	</form>
</div>



#parse('/snippets/bottom.vm')