#* @vtlvariable name="formatHelper" type="com.bpsinfo.ultracart.catalog.tobjects.FormatHelper" *#
#* @vtlvariable name="i18n" type="com.bpsinfo.storefront.tobjects.I18nWriter" *#
#* @vtlvariable name="form" type="com.bpsinfo.ultracart.checkout.ui.ForgotPasswordForm" *#

#set( $pageGroup = 'multi-page-checkout' )
#set( $bodyClass = 'multi-page-checkout forgotPassword' )
#set( $pageTitle = $i18n.write("checkout.forgotPassword.pageTitle", "Forgot Password") )
#parse('/snippets/top.vm')

#set( $title = $pageTitle )
#parse('/snippets/title.vm')


<form name="ucForgotPassword" action="/checkout/forgotPasswordSave.do" method='post'>
	#parse('/snippets/common/storefront_template_spec_version.vm')
	<input type='hidden' name='returnTo' value='$i18n.escape($!form.returnTo)'/>

	#parse('/snippets/errors.vm')
	#parse('/snippets/info_messages.vm')

	<div class="row">
		<div class="columns small-16 medium-8">
			<p>$i18n.write("checkout.forgotPassword.instructionsText", "In order to recover your password, please enter your email address and click <strong>CONTINUE</strong>.")</p>

			<label class="label-move">
				<span for="text-input">$i18n.write("checkout.forgotPassword.emailAddressField", "Email Address")*</span>
				<input type="email" id="text-input" placeholder="example@domain.com" name="email" value="$i18n.escape($!form.email)" maxlength="50" />
			</label>
		</div>
	</div>

	#parse('/snippets/button.continue.vm')
</form>



#parse('/snippets/bottom.vm')