@import url('main-ie.0.1.3-blessed1.css');
@media only screen and (min-width: 40.063em) {
  /* line 1, ../../_src/scss/theme/medium/_type.scss */
  h2,
  .panel-title {
    font-weight: 700;
  }
  /* line 3, ../../_src/scss/theme/medium/_atoms.scss */
  label.small-hide span {
    position: static;
    left: auto;
  }
  /* line 11, ../../_src/scss/theme/medium/_atoms.scss */
  table th {
    padding: 17px 20px;
  }
  /* line 14, ../../_src/scss/theme/medium/_atoms.scss */
  table td {
    padding: 17px 20px;
  }
  /* line 20, ../../_src/scss/theme/medium/_atoms.scss */
  .panel.commentsDisplay:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ebebeb;
    position: absolute;
    left: 2px;
    top: 10px;
  }
  /* line 2, ../../_src/scss/theme/medium/_organisms.scss */
  .label-group span,
  .label-group label {
    margin-bottom: 5px;
  }
  /* line 8, ../../_src/scss/theme/medium/_organisms.scss */
  .label-group.inline label,
  .label-group.inline span {
    display: inline-block;
    padding-top: .5em;
    padding-right: 10px;
    width: auto;
  }
  /* line 16, ../../_src/scss/theme/medium/_organisms.scss */
  .label-group.inline input {
    display: inline-block;
    width: auto;
  }
  /* line 24, ../../_src/scss/theme/medium/_organisms.scss */
  .label-move span {
    margin-bottom: 5px;
    padding-left: 0;
    position: static;
    top: auto;
    left: auto;
    font-size: 16px;
    color: #626262;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  /* line 38, ../../_src/scss/theme/medium/_organisms.scss */
  .label-move input {
    padding-top: .4em;
    padding-bottom: .4em;
  }
  /* line 45, ../../_src/scss/theme/medium/_organisms.scss */
  .label-move.active > span {
    color: #626262;
    font-size: 16px;
    padding-top: 0;
    padding-left: 0;
    height: auto;
  }
  /* line 53, ../../_src/scss/theme/medium/_organisms.scss */
  .label-move.active input {
    height: 36px;
    padding-left: .5em;
  }
  /* line 58, ../../_src/scss/theme/medium/_organisms.scss */
  .label-move.active select {
    -webkit-appearance: menulist-button;
    height: 36px;
    padding-left: .5em;
  }
  /* line 66, ../../_src/scss/theme/medium/_organisms.scss */
  .breadcrumb {
    display: block;
    padding: 10px 0 0;
  }
  /* line 70, ../../_src/scss/theme/medium/_organisms.scss */
  .breadcrumb a {
    text-decoration: none;
    color: #626262;
    border-bottom: 0 none;
  }
  /* line 76, ../../_src/scss/theme/medium/_organisms.scss */
  .breadcrumb li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
  }
  /* line 82, ../../_src/scss/theme/medium/_organisms.scss */
  .breadcrumb li:after {
    content: "/";
    display: inline-block;
    margin: 0 0 0 .2em;
  }
  /* line 89, ../../_src/scss/theme/medium/_organisms.scss */
  .breadcrumb li:last-child:after {
    content: "";
    display: none;
  }
  /* line 94, ../../_src/scss/theme/medium/_organisms.scss */
  .breadcrumb li:last-child a {
    font-weight: 700;
  }
  /* line 100, ../../_src/scss/theme/medium/_organisms.scss */
  .breadcrumb ul {
    margin: 0;
    padding: 0;
  }
  /* line 107, ../../_src/scss/theme/medium/_organisms.scss */
  .option-group label,
  .option-group input + label {
    padding-right: 5px;
    margin-right: 0;
  }
  /* line 117, ../../_src/scss/theme/medium/_organisms.scss */
  .featured-products-gallery h1, .featured-products-gallery body.catalog.sidebar aside h2, body.catalog.sidebar aside .featured-products-gallery h2 {
    font-size: 50px;
  }
  /* line 125, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.thumb li {
    padding-left: 10px;
    padding-right: 10px;
    width: 12.5%;
    float: left;
  }
  /* line 132, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.thumb.two-up li {
    width: 50%;
  }
  /* line 135, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.thumb.two-up li:nth-child(2n+1) {
    clear: left;
  }
  /* line 143, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.small li {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    float: left;
  }
  /* line 148, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.small li:nth-child(4n+1) {
    clear: left;
  }
  /* line 154, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.small.three-up li {
    width: 33%;
  }
  /* line 157, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.small.three-up li:nth-child(4n+1) {
    clear: none;
  }
  /* line 161, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.small.three-up li:nth-child(3n+1) {
    clear: left;
  }
  /* line 165, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.small.three-up li.fourth {
    clear: left;
  }
  /* line 173, ../../_src/scss/theme/medium/_organisms.scss */
  .product-list-images.small.gallery li {
    clear: none;
  }
  /* line 1, ../../_src/scss/theme/medium/_structure.scss */
  #system {
    padding: 0;
  }
  /* line 6, ../../_src/scss/theme/medium/_structure.scss */
  #main-header {
    height: 105px;
    position: relative;
  }
  /* line 10, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .social-links,
  #main-header .header-message,
  #main-header .header-cart-summary,
  #main-header .account-link {
    position: static;
    left: auto;
  }
  /* line 18, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .primary-masthead,
  #main-header .secondary-masthead {
    width: 100%;
    position: absolute;
    left: 0;
  }
  /* line 24, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .primary-masthead .row,
  #main-header .secondary-masthead .row {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  /* line 32, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .primary-masthead {
    top: 25px;
  }
  /* line 35, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .primary-masthead .row {
    height: 80px;
  }
  /* line 41, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .company-logo img {
    max-width: 220px;
    max-height: 60px;
  }
  /* line 46, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .company-logo span {
    padding: 10px;
    font-size: 18px;
  }
  /* line 52, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .secondary-masthead {
    height: 25px;
    top: 0;
    background-color: #2d2d2d;
  }
  /* line 58, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .company-logo {
    line-height: 80px;
  }
  /* line 62, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .skip-nav {
    top: 20px;
    transition: background-color 300ms 200ms;
  }
  /* line 67, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .skip-nav:hover {
    background-color: #ebebeb;
  }
  /* line 72, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .icon-menu {
    display: block;
    width: 90px;
    height: 80px;
    position: absolute;
    color: #626262;
  }
  /* line 80, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .icon-menu:before {
    margin-top: 30px;
    margin-left: 15px;
    display: block;
    font-size: 20px;
  }
  /* line 88, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .social-links.small {
    margin-top: 3px;
    float: left;
  }
  /* line 122, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search {
    height: 25px;
    width: 25px;
    float: right;
    overflow: hidden;
    position: relative;
    left: auto;
    transition: background-color 200ms ease-in, width 200ms ease-in;
  }
  /* line 133, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search .header-search-field {
    position: absolute;
    top: 0;
    left: 25px;
    transition: left 200ms ease-in;
  }
  /* line 141, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search input {
    width: 160px;
    height: 24px;
    position: static;
    right: auto;
    padding: 0 0 0 0.4em;
  }
  /* line 149, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search a {
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    background-color: transparent;
  }
  /* line 161, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search a:before {
    color: #626262;
    /* top: 0\0/ !important; IE 8-9 */
  }
  /* line 168, ../../_src/scss/theme/medium/_structure.scss */
  .lt-ie9 #main-header .header-search a:before {
    top: 0;
  }
  /* line 174, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search a:hover:before {
    color: #3399cc;
  }
  /* line 180, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search.active {
    width: 200px;
    background-color: #fff;
  }
  /* line 185, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-search.active .header-search-field {
    left: 0;
  }
  /* line 191, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-cart {
    float: right;
    background-color: #626262;
  }
  /* line 197, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .account-link a {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    float: right;
    color: #626262;
    position: relative;
  }
  /* line 206, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .account-link a:before {
    position: absolute;
    top: 7px;
    left: 7px;
  }
  /* line 219, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-cart-summary {
    display: block;
    height: 25px;
    padding: 2px 10px 0;
    float: left;
    font-size: 12px;
    color: #fff;
  }
  /* line 230, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .menu-cart {
    width: 40px;
    height: 25px;
    float: right;
    position: relative;
    top: 0;
    right: 0;
    background-color: #fff;
    color: #626262;
    background-image: none;
  }
  /* line 243, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .menu-cart:before {
    position: absolute;
    margin-top: 0;
    top: 3px;
    left: 9px;
  }
  /* line 252, ../../_src/scss/theme/medium/_structure.scss */
  #main-header .header-message {
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #626262;
  }
  /* line 260, ../../_src/scss/theme/medium/_structure.scss */
  #main-nav {
    top: 0;
  }
  /* line 265, ../../_src/scss/theme/medium/_structure.scss */
  #main-footer .subfooter {
    padding: 18px 0 20px;
    position: relative;
  }
  /* line 269, ../../_src/scss/theme/medium/_structure.scss */
  #main-footer .subfooter .store-title {
    margin: 0 auto;
  }
  /* line 273, ../../_src/scss/theme/medium/_structure.scss */
  #main-footer .subfooter img {
    margin-bottom: 0;
  }
  /* line 277, ../../_src/scss/theme/medium/_structure.scss */
  #main-footer .subfooter .credits {
    text-align: left;
    position: absolute;
    top: 20px;
  }
  /* line 283, ../../_src/scss/theme/medium/_structure.scss */
  #main-footer .subfooter .accepted-payments {
    margin-top: 0;
    text-align: right;
    position: absolute;
    right: 0;
    top: 20px;
  }
  /* line 3, ../../_src/scss/theme/medium/_templates.scss */
  body.product-page .row.collapse.product-review {
    margin: 20px 0 0;
    border: 1px solid #c2c2c2;
    width: 100%;
  }
  /* line 8, ../../_src/scss/theme/medium/_templates.scss */
  body.product-page .row.collapse.product-review:nth-child(odd) {
    background-color: transparent;
  }
  /* line 12, ../../_src/scss/theme/medium/_templates.scss */
  body.product-page .row.collapse.product-review > article {
    width: 100%;
  }
  /* line 20, ../../_src/scss/theme/medium/_templates.scss */
  .cart {
    clear: both;
    margin-top: -44px;
    margin-bottom: 20px;
  }
  /* line 24, ../../_src/scss/lib/_mixins.scss */
  .cart:before, .cart:after {
    content: " ";
    display: table;
  }
  /* line 30, ../../_src/scss/lib/_mixins.scss */
  .cart:after {
    clear: both;
  }
  /* line 27, ../../_src/scss/theme/medium/_templates.scss */
  .cart h2 {
    display: block;
    width: 73.95833%;
    margin: 0;
    padding: 12px 0;
    position: relative;
    top: 50px;
    line-height: 1.5;
    color: #626262;
    background-color: #ebebeb;
    border-bottom: 1px solid #c2c2c2;
    border-right: 0 none;
  }
  /* line 45, ../../_src/scss/theme/medium/_templates.scss */
  .cart h2 + .product-panel .product-image {
    padding-top: 80px;
  }
  /* line 49, ../../_src/scss/theme/medium/_templates.scss */
  .cart h2 + .product-panel .product-info {
    padding-top: 72px;
  }
  /* line 54, ../../_src/scss/theme/medium/_templates.scss */
  .cart h2 + .product-panel .product-total .product-qty label,
  .cart h2 + .product-panel .product-total .product-pricetag-label {
    display: block;
  }
  /* line 62, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    border-top: 0 none;
    position: relative;
  }
  /* line 71, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-image {
    display: block;
    width: 10.41667%;
    height: 100%;
    padding: 20px 0 20px 20px;
  }
  /* line 78, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-info {
    display: block;
    width: 62.5%;
    height: 100%;
    padding: 20px;
  }
  /* line 24, ../../_src/scss/lib/_mixins.scss */
  .product-panel .product-info:before, .product-panel .product-info:after {
    content: " ";
    display: table;
  }
  /* line 30, ../../_src/scss/lib/_mixins.scss */
  .product-panel .product-info:after {
    clear: both;
  }
  /* line 86, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-options {
    margin-top: 0;
  }
  /* line 24, ../../_src/scss/lib/_mixins.scss */
  .product-panel .product-options:before, .product-panel .product-options:after {
    content: " ";
    display: table;
  }
  /* line 30, ../../_src/scss/lib/_mixins.scss */
  .product-panel .product-options:after {
    clear: both;
  }
  /* line 90, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-options label {
    display: block;
    width: 100%;
  }
  /* line 96, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-total {
    display: block;
    width: 26.04167%;
    height: 100%;
    padding: 0;
    clear: none;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 0 none;
  }
  /* line 109, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-total .product-qty label,
  .product-panel .product-total .product-pricetag-label {
    display: none;
    width: 100%;
    padding: 12px 0;
    position: static;
    left: auto;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    color: #626262;
    background-color: #ebebeb;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
  }
  /* line 131, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-total .product-qty,
  .product-panel .product-total .product-pricetag {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    border-left: 1px solid #c2c2c2;
  }
  /* line 148, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-total .product-qty input {
    display: block;
    margin: 20px auto 5px;
  }
  /* line 154, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-total .product-remove-qty {
    display: block;
  }
  /* line 161, ../../_src/scss/theme/medium/_templates.scss */
  .product-panel .product-total .product-pricetag-amount {
    display: inline-block;
    margin-top: 20px;
  }
  /* line 171, ../../_src/scss/theme/medium/_templates.scss */
  .cart-subtotal {
    width: 40.27778%;
    height: 90px;
    float: right;
    line-height: 4;
  }
  /* line 178, ../../_src/scss/theme/medium/_templates.scss */
  .cart-buttons {
    width: 59.72222%;
    height: 90px;
    padding: 20px;
    float: left;
    border-top: 0 none;
    border-left: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
  }
  /* line 189, ../../_src/scss/theme/medium/_templates.scss */
  .cart-buttons .button {
    display: inline-block;
    margin-right: 20px;
  }
  /* line 195, ../../_src/scss/theme/medium/_templates.scss */
  .coupon-code {
    float: right;
    clear: both;
  }
  /* line 207, ../../_src/scss/theme/medium/_templates.scss */
  .coupon-code label {
    margin-bottom: 0;
  }
  /* line 215, ../../_src/scss/theme/medium/_templates.scss */
  .coupon-code .button {
    border: 1px solid #c2c2c2;
  }
  /* line 220, ../../_src/scss/theme/medium/_templates.scss */
  .express-checkout {
    padding-top: 0;
    padding-bottom: 40px;
    float: left;
    border-top: 0 none;
  }
  /* line 229, ../../_src/scss/theme/medium/_templates.scss */
  .express-checkout h2 {
    margin-bottom: 0;
  }
  /* line 233, ../../_src/scss/theme/medium/_templates.scss */
  .express-checkout p {
    margin-top: 0;
  }
  /* line 237, ../../_src/scss/theme/medium/_templates.scss */
  .express-checkout a {
    display: inline-block;
  }
  /* line 241, ../../_src/scss/theme/medium/_templates.scss */
  .express-checkout li {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
  }
  /* line 247, ../../_src/scss/theme/medium/_templates.scss */
  .express-checkout li:after {
    display: none;
  }
  /* line 253, ../../_src/scss/theme/medium/_templates.scss */
  .checkout-options {
    overflow: hidden;
    border: 1px solid #c2c2c2;
  }
  /* line 24, ../../_src/scss/lib/_mixins.scss */
  .checkout-options:before, .checkout-options:after {
    content: " ";
    display: table;
  }
  /* line 30, ../../_src/scss/lib/_mixins.scss */
  .checkout-options:after {
    clear: both;
  }
  /* line 260, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address {
    border-top: 0 none;
  }
  /* line 263, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address .columns:first-child {
    padding-right: 10px;
  }
  /* line 267, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address .columns:last-child {
    padding-left: 10px;
  }
  /* line 271, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address .state {
    width: 60%;
    margin-right: 6%;
    float: left;
  }
  /* line 277, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address .zip {
    width: 34%;
  }
  /* line 282, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-preferences {
    width: 49%;
    float: left;
    border: 0 none;
  }
  /* line 288, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-preferences h3, .shipping-preferences body.product-review-page .product-review h2, body.product-review-page .product-review .shipping-preferences h2 {
    position: static;
    font-size: 14px;
    font-weight: 400;
  }
  /* line 296, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address-inputs > .columns > .columns {
    padding: 0;
  }
  /* line 299, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address-inputs > .columns > .columns input,
  .shipping-address-inputs > .columns > .columns select {
    width: 100%;
  }
  /* line 304, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address-inputs > .columns > .columns[class*="-half"] {
    padding-right: .5em;
  }
  /* line 307, ../../_src/scss/theme/medium/_templates.scss */
  .shipping-address-inputs > .columns > .columns[class*="-half"] + [class*="-half"] {
    padding-right: 0;
    padding-left: .5em;
  }
  /* line 322, ../../_src/scss/theme/medium/_templates.scss */
  .referrer {
    clear: both;
  }
  /* line 325, ../../_src/scss/theme/medium/_templates.scss */
  .referrer select {
    width: 50%;
    margin: 0;
    float: left;
  }
  /* line 331, ../../_src/scss/theme/medium/_templates.scss */
  .referrer label.inline {
    width: 50%;
    padding: 0 0 0 20px;
    margin: 0;
    float: left;
  }
  /* line 338, ../../_src/scss/theme/medium/_templates.scss */
  .referrer input {
    margin-bottom: 0;
  }
  /* line 344, ../../_src/scss/theme/medium/_templates.scss */
  .payment.row h2 + label span {
    position: static;
    left: auto;
  }
  /* line 349, ../../_src/scss/theme/medium/_templates.scss */
  .payment.row > label.columns,
  .payment.row > .label-group.columns {
    padding-right: 10px;
  }
  /* line 353, ../../_src/scss/theme/medium/_templates.scss */
  .payment.row > label.columns:last-child,
  .payment.row > .label-group.columns:last-child {
    padding-right: 0;
  }
  /* line 358, ../../_src/scss/theme/medium/_templates.scss */
  .payment.row .label-group:last-child {
    width: auto;
    float: left;
  }
  /* line 364, ../../_src/scss/theme/medium/_templates.scss */
  .finalize-order {
    float: right;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 3, ../../_src/scss/theme/large/_organisms.scss */
  .featured-products-gallery li {
    height: 500px;
  }
  /* line 7, ../../_src/scss/theme/large/_organisms.scss */
  .featured-products-gallery h1, .featured-products-gallery body.catalog.sidebar aside h2, body.catalog.sidebar aside .featured-products-gallery h2 {
    font-size: 60px;
  }
  /* line 1, ../../_src/scss/theme/large/_structure.scss */
  #galaxy {
    transition: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  /* line 5, ../../_src/scss/theme/large/_structure.scss */
  .fix-nav-deux #galaxy {
    padding-top: 105px;
  }
  /* line 12, ../../_src/scss/theme/large/_structure.scss */
  #main-header .skip-nav {
    display: none;
  }
  /* line 18, ../../_src/scss/theme/large/_structure.scss */
  #main-header .primary-masthead .row {
    background-position: left center;
  }
  /* line 22, ../../_src/scss/theme/large/_structure.scss */
  .fix-nav #main-header .primary-masthead {
    position: fixed;
    top: -19px;
  }
  /* line 28, ../../_src/scss/theme/large/_structure.scss */
  #main-header .company-logo {
    width: auto;
  }
  /* line 31, ../../_src/scss/theme/large/_structure.scss */
  #main-header .company-logo img {
    max-width: 220px;
    max-height: 60px;
  }
  /* line 35, ../../_src/scss/theme/large/_structure.scss */
  .fix-nav #main-header .company-logo img {
    max-width: 120px;
    max-height: 30px;
  }
  /* line 43, ../../_src/scss/theme/large/_structure.scss */
  #main-header .icon-menu {
    position: absolute;
    left: -3000em;
  }
  /* line 48, ../../_src/scss/theme/large/_structure.scss */
  .fix-nav-deux #main-header {
    width: 100%;
    position: fixed;
    top: -62px;
    z-index: 1450;
  }
  /* line 56, ../../_src/scss/theme/large/_structure.scss */
  .fix-nav-deux #main-header .company-logo span {
    padding: 5px;
    font-size: 14px;
  }
  /* line 63, ../../_src/scss/theme/large/_structure.scss */
  #main-header .header-cart {
    margin-right: 10px;
  }
  /* line 69, ../../_src/scss/theme/large/_structure.scss */
  #main-nav {
    width: 720px;
    height: 50px;
    margin-left: -240px;
    position: absolute;
    top: 42px;
    left: 50%;
    font-size: 14px;
  }
  /* line 80, ../../_src/scss/theme/large/_structure.scss */
  .fix-nav #main-nav {
    position: fixed;
    top: -2px;
  }
  /* line 85, ../../_src/scss/theme/large/_structure.scss */
  #main-nav a {
    color: #2d2d2d;
    border: 0 none;
  }
  /* line 90, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li {
    display: inline-block;
    position: relative;
  }
  /* line 95, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li.has-subnav:after {
    content: "\e001";
    font-family: 'ultracart-storefronts-1';
    color: #626262;
    font-size: 8px;
    right: 6px;
  }
  /* line 104, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li:hover:after {
    color: #3399cc;
  }
  /* line 109, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    background-color: #626262;
  }
  /* line 120, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li ul li {
    line-height: 1.3;
    display: block;
    clear: both;
  }
  /* line 126, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li ul li.has-subnav:after {
    content: "\e002";
    font-family: 'ultracart-storefronts-1';
    color: #c2c2c2;
    font-size: 8px;
    left: 5px;
    top: 3px;
    display: block;
    height: 10px;
    width: 10px;
  }
  /* line 138, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li ul li.has-subnav ul {
    display: none;
    right: 100%;
    top: -10px;
    position: absolute;
    float: none;
    background-color: #626262;
    border-right: 1px solid #2d2d2d;
  }
  /* line 153, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li ul li.active > ul {
    display: block;
  }
  /* line 159, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li ul a {
    white-space: nowrap;
  }
  /* line 165, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li.active > a {
    color: #3399cc;
  }
  /* line 169, ../../_src/scss/theme/large/_structure.scss */
  #main-nav li.active ul {
    display: block;
  }
  /* line 175, ../../_src/scss/theme/large/_structure.scss */
  #main-nav ul {
    float: right;
  }
  /* line 2, ../../_src/scss/theme/large/_templates.scss */
  .affiliate-id input {
    border-right: 1px solid #c2c2c2;
  }
  /* line 7, ../../_src/scss/theme/large/_templates.scss */
  .coupon-code {
    border-top: 0;
    border-left: 1px solid #c2c2c2;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 13, ../../_src/scss/theme/large/_templates.scss */
  .coupon-code input {
    border-right: 1px solid #c2c2c2;
  }
  /* line 17, ../../_src/scss/theme/large/_templates.scss */
  .coupon-code button, .coupon-code .button {
    margin-top: 10px;
  }
  /* line 22, ../../_src/scss/theme/large/_templates.scss */
  .express-checkout {
    border-bottom: 0;
  }
}
/* line 5, ../../_src/scss/_level2d.scss */
.footer-buttons .button, .footer-buttons button {
  display: block;
  width: 100%;
}
/* line 12, ../../_src/scss/_level2d.scss */
button.no-margin, .button.no-margin {
  margin: 0;
}
/* line 17, ../../_src/scss/_level2d.scss */
button.no-margin-top, .button.no-margin-top {
  margin-top: 0;
}
/* line 17, ../../_src/scss/_level2d.scss */
button.no-margin-left, .button.no-margin-left {
  margin-left: 0;
}
/* line 17, ../../_src/scss/_level2d.scss */
button.no-margin-right, .button.no-margin-right {
  margin-right: 0;
}
/* line 17, ../../_src/scss/_level2d.scss */
button.no-margin-bottom, .button.no-margin-bottom {
  margin-bottom: 0;
}
/* line 25, ../../_src/scss/_level2d.scss */
table.no-margin-top {
  margin-top: 0;
}
/* line 25, ../../_src/scss/_level2d.scss */
table.no-margin-left {
  margin-left: 0;
}
/* line 25, ../../_src/scss/_level2d.scss */
table.no-margin-right {
  margin-right: 0;
}
/* line 25, ../../_src/scss/_level2d.scss */
table.no-margin-bottom {
  margin-bottom: 0;
}
/* line 31, ../../_src/scss/_level2d.scss */
.steps {
  padding-top: 10px;
  font-weight: bold;
  font-size: 12px;
}
/* line 37, ../../_src/scss/_level2d.scss */
.js-disabled-anchor {
  cursor: default !important;
}
/* line 41, ../../_src/scss/_level2d.scss */
.js-link-anchor-parent {
  cursor: pointer;
}
/* line 47, ../../_src/scss/_level2d.scss */
body.home #system {
  padding-top: 0;
}
/* line 53, ../../_src/scss/_level2d.scss */
.forgot-password-link {
  margin-right: 15px;
}
/* line 58, ../../_src/scss/_level2d.scss */
.access-customer-profile div.create {
  margin-top: 20px;
}
/* line 67, ../../_src/scss/_level2d.scss */
::-webkit-input-placeholder {
  color: #c2c2c2;
}
/* line 71, ../../_src/scss/_level2d.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #c2c2c2;
}
/* line 75, ../../_src/scss/_level2d.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c2c2c2;
}
/* line 83, ../../_src/scss/_level2d.scss */
input-placeholder {
  color: #c2c2c2;
}
/* line 89, ../../_src/scss/_level2d.scss */
.shipping-panels {
  text-align: center;
}
/* line 92, ../../_src/scss/_level2d.scss */
.shipping-panels [class*="column"] + [class*="column"]:last-child {
  float: left;
}
/* line 96, ../../_src/scss/_level2d.scss */
.shipping-panels .address {
  margin-top: 20px;
}
/* line 99, ../../_src/scss/_level2d.scss */
.shipping-panels .address button, .shipping-panels .address .button {
  margin-right: 0;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-transform: none;
  font-weight: normal;
}
/* line 111, ../../_src/scss/_level2d.scss */
.express-checkout-coupon {
  border: 0;
  overflow: hidden;
}
/* line 116, ../../_src/scss/_level2d.scss */
.buysafe-container .buysafe {
  background: #002c5d;
  /*float: left;*/
  /*margin-left: 10px;*/
  height: 50px;
  padding: 0;
  position: relative;
  /*width: 230px;*/
}
/* line 127, ../../_src/scss/_level2d.scss */
.buysafe-container .buysafe img {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 133, ../../_src/scss/_level2d.scss */
.buysafe-container .buysafe img:first-child {
  left: 0;
  top: 0;
}
/* line 138, ../../_src/scss/_level2d.scss */
.buysafe-container .buysafe p {
  font-size: 9px;
  position: absolute;
  top: 50px;
  width: 100%;
  margin-top: 0;
}
/* line 146, ../../_src/scss/_level2d.scss */
.buysafe-container .buysafe-learn-more {
  position: absolute;
  top: 50px;
  display: block;
}
/* line 152, ../../_src/scss/_level2d.scss */
.buysafe-container .buysafe-info {
  float: right;
}
/* line 156, ../../_src/scss/_level2d.scss */
.buysafe-container .buysafe-container {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 0;
}
/* line 164, ../../_src/scss/_level2d.scss */
.buysafe-container #buysafe-yes-no {
  cursor: pointer;
}
/* line 168, ../../_src/scss/_level2d.scss */
.buysafe-container #buysafe-text {
  top: 62px;
}
/* line 174, ../../_src/scss/_level2d.scss */
.label-group strong {
  font-weight: 0.95em;
  margin-top: 5px;
  display: block;
}
/* line 180, ../../_src/scss/_level2d.scss */
.label-group .price {
  font-size: 1.15em;
  margin: 3px 0;
}
/* line 187, ../../_src/scss/_level2d.scss */
.label-move > span {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 196, ../../_src/scss/_level2d.scss */
.option-group input[type="text"] {
  width: 90%;
  margin-left: 22px;
  margin-top: 10px;
  display: none;
}
/* line 205, ../../_src/scss/_level2d.scss */
.shipping-information, .billing-information {
  margin-bottom: 20px;
}
/* line 211, ../../_src/scss/_level2d.scss */
.cart-footer button, .cart-footer .button {
  width: 90%;
  margin: 0 5% 20px;
}
/* line 215, ../../_src/scss/_level2d.scss */
.cart-footer button:last-child, .cart-footer .button:last-child {
  margin-bottom: 0;
}
/* line 220, ../../_src/scss/_level2d.scss */
.cart-footer .cart-footer-left,
.cart-footer .cart-footer-right {
  width: 100%;
  border: 1px solid #c2c2c2;
  background: #fff;
  border-top: 0;
}
/* line 228, ../../_src/scss/_level2d.scss */
.cart-footer .cart-footer-left {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0;
}
/* line 233, ../../_src/scss/_level2d.scss */
.cart-footer .cart-footer-left .shipping-info {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 238, ../../_src/scss/_level2d.scss */
.cart-footer .cart-footer-left .billing-info {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 244, ../../_src/scss/_level2d.scss */
.cart-footer .cart-breakdown {
  position: relative;
  background: #ebebeb;
  padding: 20px;
  border-bottom: 1px solid #c2c2c2;
}
/* line 251, ../../_src/scss/_level2d.scss */
.cart-footer .cart-subtotal {
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}
/* line 256, ../../_src/scss/_level2d.scss */
.cart-footer .cart-total {
  width: 100%;
  padding: 1.42857em 1.42857em;
  /* padding: 0.71429em 1.42857em; */
}
/* line 262, ../../_src/scss/_level2d.scss */
.cart-footer .breakdown-item {
  text-align: right;
  overflow: hidden;
}
/* line 266, ../../_src/scss/_level2d.scss */
.cart-footer .breakdown-item.total {
  margin-bottom: 10px;
}
/* line 270, ../../_src/scss/_level2d.scss */
.cart-footer .breakdown-item .label {
  font-weight: bold;
}
/* line 284, ../../_src/scss/_level2d.scss */
.myaccount-reviews .reviews article {
  margin-bottom: 20px;
}
/* line 290, ../../_src/scss/_level2d.scss */
.myaccount-shipping ul.address-fields, .myaccount-billing ul.address-fields {
  list-style: none;
}
/* line 293, ../../_src/scss/_level2d.scss */
.myaccount-shipping ul.address-fields li:first-child, .myaccount-billing ul.address-fields li:first-child {
  padding-left: 0;
}
/* line 296, ../../_src/scss/_level2d.scss */
.myaccount-shipping ul.address-fields strong, .myaccount-billing ul.address-fields strong {
  padding-left: 10px;
}
/* line 299, ../../_src/scss/_level2d.scss */
.myaccount-shipping ul.address-fields li, .myaccount-billing ul.address-fields li {
  padding-left: 40px;
}
/* line 303, ../../_src/scss/_level2d.scss */
.myaccount-shipping .address-actions, .myaccount-billing .address-actions {
  padding-left: 50px;
}
/* line 306, ../../_src/scss/_level2d.scss */
.myaccount-shipping .shipping-header, .myaccount-shipping .billing-header, .myaccount-billing .shipping-header, .myaccount-billing .billing-header {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 20px;
}
/* line 310, ../../_src/scss/_level2d.scss */
.myaccount-shipping .shipping-footer, .myaccount-shipping .billing-footer, .myaccount-billing .shipping-footer, .myaccount-billing .billing-footer {
  border-top: 1px solid #c2c2c2;
  padding-top: 20px;
}
/* line 316, ../../_src/scss/_level2d.scss */
.myaccount-payments .expired {
  color: #da3e3e;
}
/* line 319, ../../_src/scss/_level2d.scss */
.myaccount-payments ul.payment-fields {
  list-style: none;
}
/* line 322, ../../_src/scss/_level2d.scss */
.myaccount-payments ul.payment-fields li:first-child {
  padding-left: 0;
}
/* line 325, ../../_src/scss/_level2d.scss */
.myaccount-payments ul.payment-fields strong {
  padding-left: 10px;
}
/* line 328, ../../_src/scss/_level2d.scss */
.myaccount-payments ul.payment-fields li {
  padding-left: 40px;
}
/* line 332, ../../_src/scss/_level2d.scss */
.myaccount-payments .payment-actions {
  padding-left: 50px;
}
/* line 335, ../../_src/scss/_level2d.scss */
.myaccount-payments .payment-header {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 20px;
}
/* line 339, ../../_src/scss/_level2d.scss */
.myaccount-payments .payment-footer {
  border-top: 1px solid #c2c2c2;
  padding-top: 20px;
}
/* line 346, ../../_src/scss/_level2d.scss */
.review-item td {
  padding: 5px;
  text-align: center;
  border: none;
}
/* line 352, ../../_src/scss/_level2d.scss */
.review-item table {
  border-bottom: none;
}
/* line 356, ../../_src/scss/_level2d.scss */
.review-item input[type="radio"] {
  margin-bottom: 0;
}
/* line 363, ../../_src/scss/_level2d.scss */
td.col_options dl {
  display: inline-block;
}
/* line 367, ../../_src/scss/_level2d.scss */
td.col_options dt {
  font-weight: bold;
}
/* line 371, ../../_src/scss/_level2d.scss */
td.col_options dd {
  font-weight: normal;
}
/* line 377, ../../_src/scss/_level2d.scss */
#ucUpsellNoButtonId {
  width: 100%;
}
/* line 381, ../../_src/scss/_level2d.scss */
#ucUpsellYesButtonId {
  width: 100%;
}
@media only screen and (min-width: 40.063em) {
  /* line 393, ../../_src/scss/_level2d.scss */
  .access-customer-profile div.create {
    margin-top: 0;
  }
  /* line 399, ../../_src/scss/_level2d.scss */
  .shipping-panels {
    text-align: left;
  }
  /* line 405, ../../_src/scss/_level2d.scss */
  .label-group .price {
    font-size: 1.15em;
  }
  /* line 412, ../../_src/scss/_level2d.scss */
  .cart-footer button, .cart-footer .button {
    width: auto;
    margin-left: 0;
    margin-right: 20px;
  }
  /* line 420, ../../_src/scss/_level2d.scss */
  .footer-buttons .button, .footer-buttons button {
    display: inline-block;
    width: auto;
  }
  /* line 427, ../../_src/scss/_level2d.scss */
  th.col_qty,
  td.col_qty {
    text-align: right;
    width: 90px;
  }
  /* line 433, ../../_src/scss/_level2d.scss */
  th.col_amount,
  td.col_amount {
    text-align: right;
    width: 125px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 443, ../../_src/scss/_level2d.scss */
  #main-header .primary-masthead .row {
    background-position: 10px center;
  }
  /* line 448, ../../_src/scss/_level2d.scss */
  .express-checkout-coupon {
    border: 1px solid #c2c2c2;
  }
  /* line 454, ../../_src/scss/_level2d.scss */
  .shipping-panels .address {
    margin-top: 0;
    margin-bottom: 20px;
  }
  /* line 461, ../../_src/scss/_level2d.scss */
  .shipping-information, .billing-information {
    margin-bottom: 0;
  }
  /* line 466, ../../_src/scss/_level2d.scss */
  .cart-footer .cart-footer-left {
    width: 60%;
    float: left;
    border-right: 0;
  }
  /* line 472, ../../_src/scss/_level2d.scss */
  .cart-footer .cart-footer-right {
    width: 40%;
    float: right;
  }
  /* line 480, ../../_src/scss/_level2d.scss */
  .express-checkout {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 486, ../../_src/scss/_level2d.scss */
  body.product-page .product-review {
    float: left;
  }
  /* line 491, ../../_src/scss/_level2d.scss */
  th.col_qty,
  td.col_qty {
    text-align: right;
    width: 90px;
  }
  /* line 497, ../../_src/scss/_level2d.scss */
  th.col_amount,
  td.col_amount {
    text-align: right;
    width: 285px;
    padding-right: 20px;
  }
}
/*
@media only screen and (min-width:90.063em) {
    @import "theme/xlarge/structure";
}
