##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

#* @vtlvariable name="merchantId" type="java.lang.String" *#
#* @vtlvariable name="formatHelper" type="com.bpsinfo.ultracart.catalog.tobjects.FormatHelper" *#
#* @vtlvariable name="i18n" type="com.bpsinfo.storefront.tobjects.I18nWriter" *#
#* @vtlvariable name="form" type="com.bpsinfo.ultracart.affiliate.ui.partner.AffiliatePartnerLostPasswordForm" *#

#set( $pageGroup = 'affiliate' )
#set( $bodyClass = 'affiliate lost-password' )
#set( $pageTitle = 'Password Retrieval - Affiliate Partner' )
#parse('/snippets/top.vm')

#set( $title = $pageTitle )
#parse('/snippets/title.vm')

<form method="post" action="/affiliate/partner/lostPasswordSave.do">
	<input type="hidden" name="programOid" value="$!form.programOid"/>
	<input type="hidden" name="merchantId" value="$i18n.escape($!merchantId)"/>
    #parse('/snippets/common/storefront_template_spec_version.vm')
	#parse('/snippets/errors.vm')
	#parse('/snippets/info_messages.vm')

	<div class="row">
		<div class="columns small-16">
			<p>
				To retrieve your password, please enter your e-mail address below. Your password will then be e-mailed to you.
			</p>
		</div>

		<div class="clearfix"></div>

		<div class="columns small-16 medium-8">
			<label class="label-move">
				<span>E-Mail Address</span>

				<input type="text" name="username" size="30" maxlength='100' class="normalText"/>
			</label>
			<div class="footer-buttons text-right">
				<button type="submit" class="button inactive no-margin" disabled title="Retrieve Password">Retrieve Password</button>
			</div>
		</div>
	</div>
	#parse('/snippets/common/cs_token.vm')
</form>

#parse('/snippets/bottom.vm')