##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

#* @vtlvariable name="merchantId" type="java.lang.String" *#
#* @vtlvariable name="formatHelper" type="com.bpsinfo.ultracart.catalog.tobjects.FormatHelper" *#
#* @vtlvariable name="i18n" type="com.bpsinfo.storefront.tobjects.I18nWriter" *#
#* @vtlvariable name="form" type="com.bpsinfo.ultracart.affiliate.ui.partner.SelectManagedLinkForm" *#

#set( $pageGroup = 'affiliate' )
#set( $bodyClass = 'affiliate select-managed-link' )
#set( $pageTitle = 'Select Link Type' )
#parse('/snippets/top.vm')

#set( $title = "New Link" )
#parse('/snippets/title.vm')

<form action="/affiliate/partner/selectManagedLinkSave.do" method='post'>
    #parse('/snippets/common/storefront_template_spec_version.vm')
	#parse('/snippets/errors.vm')
	#parse('/snippets/info_messages.vm')

	<div class="row">
		<div class="columns small-16">
			<table>
				<thead>
					<th>Name</th>
					<th>Type</th>
				</thead>
				<tbody>
					#foreach($link in $form.links)
						<tr>
							<td>
								<input type="radio"
									name="selectedAffiliateProgramManagedLinkOid"
									value="${link.affiliateProgramManagedLinkOid}"
									#if($form.selectedAffiliateProgramManagedLinkOid == $link.affiliateProgramManagedLinkOid)checked#{end}
								/>
								&nbsp;
								$i18n.escape($link.name)
								<input type="hidden" name="links[$foreach.index].affiliateProgramManagedLinkOid" value="$link.affiliateProgramManagedLinkOid"/>
							</td>
							<td valign="top" class="ucDefault">$!{link.type}</td>
						</tr>
					#end ##foreach link
				</tbody>
			</table>
		</div>
	</div>

	#set( $showManageLinksButton = true )
	#set( $showBackButton = true )
	#set( $hideButton = false )
	#parse('/snippets/affiliate/button.vm')

	#parse('/snippets/common/cs_token.vm')

</form>

#parse('/snippets/bottom.vm')