##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

#* @vtlvariable name="merchantId" type="java.lang.String" *#
#* @vtlvariable name="header" type="java.lang.String" *#
#* @vtlvariable name="footer" type="java.lang.String" *#
#* @vtlvariable name="i18n" type="com.bpsinfo.storefront.tobjects.I18nWriter" *#

#set($bodyClass = "myaccount-password")
#set( $pageTitle = "My Account Password" )
#set( $handlebarsForm = "true" )

#parse("/snippets/top.vm")

<script type="text/javascript">
  var merchantId = '$!merchantId';
</script>

<!--[if lt IE 9]>
<script type='text/javascript' src="/myaccount/js/html5shiv-printshiv.js" media="all"></script>
<![endif]-->
<script type="text/javascript" src="/myaccount/js/moment.js"></script>
<script type="text/javascript" src="/myaccount/js/handlebars-v3.0.3.js"></script>
<script type="text/javascript" src="/myaccount/js/underscore_1.4.4.js"></script>
<script type="text/javascript" src="/myaccount/js/myaccount_rest_1.3.js"></script>
<script type="text/javascript" src="/myaccount/js/myaccount.js"></script>
<script type="text/javascript" src="/myaccount/password.js"></script>

<script type="text/template" id="password-template">
  <!-- the backbone view will wrap this content in an <article class="password"></article> tag -->

  <div class='password-edit-table'>

    <form id='form-change-password' action="#" method="post" class="validate">

      <label class='label-move'>
        <span>$i18n.write('myaccount.currentPasswordLabel','Current Password')</span>
        <input type="password" name="oldPassword" id="oldPassword" class="inspectletIgnore" required maxlength="30" />
      </label>

      <label class='label-move'>
        <span>$i18n.write('myaccount.newPasswordLabel','New Password') </span>
        <input type="password" name="newPassword" id="newPassword" class="no-margin-bottom inspectletIgnore" required maxlength="30" />
      </label>

      <p style='font-size:0.7em; margin-bottom:20px;' class="no-margin-top">Password Strength
      <span id="passwordStrengthBar" style="display: block; height: 5px;"></span> <span id="passwordStrengthText"></span></p>


      <label class='label-move'>
        <span>$i18n.write('myaccount.newPasswordAgainLabel','New Password (Again)')</span>
        <input type="password" name="newPasswordAgain" id="newPasswordAgain" class="inspectletIgnore" required maxlength="30" />
      </label>

      <div class="text-right">
        <button type="submit" id="saveButton" class="button inactive" disabled>
          $i18n.write('myaccount.passwordSaveButton','Save Changes')
        </button>
        <button id="cancelButton" class="button secondary">
          $i18n.write('myaccount.passwordCancelButton','Cancel')
        </button>
      </div>

    </form>

  </div>


  <div style='clear:both'></div>


</script>

<div class="row half-margin-top">
  <div class="columns small-16 medium-13">

    <a href="/myaccount/index.do?merchantId=$!{merchantId}">$i18n.write('myaccount.breadcrumb.myAccount','My Account')</a> &gt; <span class='disabled-looking'>$i18n.write('myaccount.breadcrumb.changePassword','Change Password')</span>

  </div>
</div>

<div class="row">
  <div class="columns small-16">
    <h1>$i18n.write('myaccount.changePasswordHeader','Change Password')</h1>
    <p>$i18n.write('myaccount.changePasswordMessage','Use the form below to change your password.')</p>
    <div class="myaccount-notifications">
      <div class="alert info text-left no-margin-top no-margin-bottom"></div>
      <div class="alert success text-left no-margin-top no-margin-bottom"></div>
      <div class="alert warning text-left no-margin-top no-margin-bottom"></div>
      <div class="alert error text-left no-margin-top no-margin-bottom"></div>
    </div>
  </div>
</div>

<main role='main' class="row">
  <div id="password" class="columns small-16">

  </div>
</main>


#parse("/snippets/bottom.vm")