##
## UltraCart - Mr Teas Template
## http://www.ultracart.com/
##
## Copyright (c) 2015 BPS Info Solutions Inc.
## License located here:
## http://www.ultracart.com/storefront/license/
##
## Designed by Level 2 Design, LLC http://www.level2d.com/
##

## UltraCart uses encrypted tokens to dissuade cross site scripting attacks.
## This should be in every UltraCart form.  Not every form employs the protection, but it won't hurt to have.
#if($form.requiresCrossSiteProtection)
	<input type="hidden" name="_hdiv_token_" value="$i18n.escape($!form.crossSiteProtectionToken)" />
	#else
	<!-- no cross site scripting token required -->
#end